@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-color: #ffffff;
  /* background-image: url("./background-login\ and\ sign\ up\ page.avif"); */
  background-size: cover;
  background-position: center;
  /* animation: animatedBackground 15s linear infinite; */
}

@keyframes animatedBackground {
  0% {
    background-color: #17b169;
  }
  25% {
    background-color: cadetblue;
  }
  50% {
    background-color: black;
  }
  75% {
    background-color: palegreen;
  }
  100% {
    background-color: yellow;
  }
}

.action-buttons {
  color-scheme: #333333;
}

.cell-box:hover {
  box-shadow: 4px 4px 10px 3px rgba(0, 0, 255, 0.5);
}

.component-box {
  box-shadow: 4px 4px 10px 3px black;
}

::-webkit-scrollbar {
  width: 0 !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  overflow: hidden;
}

.text.beta-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border-left: 2px solid black;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.login-box {
  margin-top: 40px;
  background-color: black;
  width: 30%;
  display: flex;
  margin-left: 35%;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box:hover {
  background-color: cornsilk;
  color: black;
}

.animate {
  animation: fadeIn 1.5s ease-in-out;
}

.show-operations {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
